$primary: #63b995;
$danger: #fcab10;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.btn-outline-danger {
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
}

.empty-list-div {
  text-align: center;
  display: none;
}

@media screen and (max-width: 576px) {
  .created,
  .number {
    display: none;
  }
}
