$primary: #63b995;
$danger: #fcab10;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.btn-container:hover {
  background-color: $danger;
  transition: 0.3s;
}

.btn-container:hover .func-btn {
  color: $light;
  transition: 0.3s;
}

.func-btn {
  cursor: pointer;
}
